body {
    background: #babcbc; 
    font-family: Tahoma, Arial, sans-serif; 
    color: #333;
}
p, h4 {
    font-size: 20px; 
    margin-bottom: 0;
}
h4 {
    font-size: 24px; 
}
ul, ol {
    margin: 0;
}
.article h2 {
	font-family: "Arial";
}
.archive h2 {
	font-family: "Comic Sans";
	font-size: 18px;
}
.archive-text {
	font-family: "Comic Sans";
	font-size: 16px;
	white-space: normal;
    	overflow-wrap: break-word;
    	line-height: 1.5;
    	margin-top: 15px;
    	text-align: justify;
}
.article {
	width: 960px; 
	margin-left: auto;
	margin-right: auto;
}

.header img {
	display: block; 
	width: 250px; 
	margin-left: auto; 
	margin-right: auto;
}
.post-title a {
	color: #ffffff;
}
.post-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article-author { 
	width: 50%; 
	float: left;
}
.article-created-date { 
	text-align: right;
}
.header-links {
    text-align: right;
}
.all-articles {
    display: block;
    text-align: right;
    margin-top: 10px;
    color: #eeeeee;
}
.one-post.folded .article-author,
.one-post.folded .article-created-date,
.one-post.folded .article-text {
    display: none;
}
.fold-button {
    cursor: pointer;
    padding: 5px 10px;
    margin: 0;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 3px;
    font-size: 14px;
}